<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /toychamp
  RewriteCond %{HTTPS} !=on
  RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
  RewriteRule ^toychamp/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /toychamp/index.html [L]
</IfModule>