<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /lego-toyfinder
  RewriteCond %{HTTPS} !=on
  RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
  RewriteRule ^lego-toyfinder/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /lego-toyfinder/index.html [L]
</IfModule>